<mpt-header></mpt-header>
<div class="container">
    <router-outlet></router-outlet>
    <footer>
        <small>
            <div class="row">
                <div class="col-3">© 2017 re:Lease</div>
                <div class="col-6">
                    Если вы пользуетесь услугами данной платформы, то соглашаететь с нашей
                    <a href="#policy" data-toggle="modal" class="grey"> политикой.</a>
                </div>
                <div class="col-3">
                    <div>Вы можете оставить свои</div>
                    <div>отзывы и пожелания по адресу</div>
                    <div>eakarpov@yandex.ru</div>
                </div>
            </div>
        </small>
    </footer>
    <mpt-policy></mpt-policy>
</div>
