@import '../styles/index';

footer {
  margin-top: $margin-xlarge;
  padding-top: $margin-xxsmall;
  border-top: 1px solid $border-color;
  color: $weak-text-color;
}

.grey {
  color: $weak-text-color;
}