@import '../styles/index';

footer {
  margin-top: $margin-xlarge;
  margin-bottom: $margin-xlarge;
  padding-top: $margin-xxsmall;
  border-top: 1px solid $border-color;
  color: $weak-text-color;
  text-align: center;
}

.footer-icon {
  color: $weak-text-color;
}

.footer-link {
  @extend .footer-icon;
  text-decoration: underline;
}