<mpt-header></mpt-header>
<div class="container">
    <router-outlet></router-outlet>
    <footer>
        <small>
            <div class="row">
                <div class="col-3">© 2017 re:Lease</div>
                <div class="col-6">
                    <div>
                        Если вы пользуетесь услугами данной платформы, то соглашаететь с нашей
                        <a href="#policy" data-toggle="modal" class="footer-link"> политикой.</a>
                    </div>
                    <div class="row">
                        <div class="col-1 offset-4">
                            <a class="footer-icon" href="https://vk.com/public141338597">
                                <i class="fa fa-vk" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="footer-icon" href="https://fb.me/release.web.project">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="footer-icon" href="https://twitter.com/@release_web">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-1">
                            <a class="footer-icon" href="https://www.instagram.com/release.web/">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div>Вы можете оставить свои</div>
                    <div>отзывы и пожелания по адресу</div>
                    <div>release.web@yandex.ru</div>
                </div>
            </div>
        </small>
    </footer>
    <mpt-policy></mpt-policy>
</div>
