<div class="jumbotron">
    <h1 class="display-3">Добро пожаловать на главную страницу проекта re:Lease!</h1>
    <p class="lead">
        Этот вебсайт позволит тебе сдать в аренду вещи другим пользователям или арендовать различные вещи.
    </p>
    <p class="lead">
        Необходимо оставить нам некоторую информацию о себе, если ты действительно хочешь совершать торговые операции на этой платформе.
    </p>
    <p class="lead" *ngIf="!isSignedIn">
        <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" role="button">Зарегистрируйся сейчас!</a>
    </p>
</div>
<p>Сервис аренды вещей RE:Lease это :
1) самый новый и безопасный способ сдавать и брать вещи в аренду
2)огромный каталог товаров на одном сайте с возможностью фильтрации по категориям
3) заключение двустороннего договора быстро и удобно
4) помощь в решении спорных ситуаций
5)возможность не захламлять дом ненужными на время вещами
6)возможность заработать деньги на ненужных вам вещах
7)возможность чата с другими пользователями
8)возможность быстрой и легкой оплатой картой
9)возможность просмотра рейтинга пользователей и отзывов о них для выбора идеального арендодателя
Живите, радуйтесь, арендуйте!
И не захламляйте ваши квадраты ненужными вещами
</p>
<p>Становитесь участником прямо сейчас : <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" role="button">Зарегистрироваться</a></p>
<p>    Контакты: Каширское шоссе 31,НИЯУ МИФИ
    По вопросам сотрудничества обращаться к Карпова Егору eakarpov@mail.ru (или какая у тебя там почта )</p>