<div class="jumbotron">
    <h1 class="display-3" [mptStyles]="[styles.header]">Добро пожаловать на главную страницу проекта re:Lease!</h1>
    <p class="lead">
        Этот вебсайт позволит тебе сдать в аренду вещи другим пользователям или арендовать различные вещи.
    </p>
    <p class="lead">
        Необходимо оставить нам некоторую информацию о себе, если ты действительно хочешь совершать торговые операции на этой платформе.
    </p>
    <p class="lead" *ngIf="!isSignedIn">
        <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" role="button">Зарегистрируйся сейчас!</a>
    </p>
</div>
