$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~toastr/toastr";
@import "~bootstrap/scss/bootstrap";
@import "colors";
@import "dimens";
@import "cards";
@import "loading";
@import "content";

body {
  background-color: #f5f5f5;
  padding-top: 5rem;
}