@import "../../node_modules/toastr/toastr";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";
@import "dimens";
@import "cards";
@import "loading";

body {
  padding-top: 5rem;
}