<h1>Регистрация</h1>

<form [formGroup]="userForm" (submit)="onSubmit(userForm.value)" novalidate>

    <div class="form-group" [class.has-danger]="!login.valid && login.touched">
        <label class="col-form-label" for="loginInput">Логин</label>
        <input type="text" class="form-control form-control-danger" id="loginInput"
               placeholder="Login" maxlength="30" formControlName="login"/>
        <div *ngIf="login.hasError('required') && login.touched" class="form-control-feedback">
            Логин обязателен
        </div>
        <div *ngIf="login.hasError('minlength') && login.touched" class="form-control-feedback">
            Логин должен состоять более, чем из 4 символов
        </div>
    </div>

    <div class="form-group" [class.has-danger]="!email.valid && email.touched">
        <label class="col-form-label" for="emailInput">Email</label>
        <input type="email" class="form-control form-control-danger" id="emailInput"
               placeholder="Email" maxlength="100" formControlName="email"/>
        <div *ngIf="email.hasError('required') && email.touched" class="form-control-feedback">
            Email обязателен
        </div>
        <div *ngIf="email.hasError('pattern') && email.touched" class="form-control-feedback">
            Неверный формат
        </div>
    </div>

    <div class="form-group" [class.has-danger]="!password.valid && password.touched">
        <label class="col-form-label" for="passwordInput">Пароль</label>
        <input type="text" class="form-control form-control-danger" id="passwordInput"
               placeholder="Password" maxlength="100" formControlName="password"/>
        <div *ngIf="password.hasError('required') && password.touched" class="form-control-feedback">
            Логин обязателен
        </div>
        <div *ngIf="password.hasError('minlength') && password.touched" class="form-control-feedback">
            Пароль должен состоять более, чем из 8 символов
        </div>
    </div>

    <div class="form-group" [class.has-danger]=
            "(!passwordConfirmation.valid || userForm.hasError('unmatched')) && passwordConfirmation.touched">
        <label class="col-form-label" for="passwordConfirmationInput">Подтвердить пароль</label>
        <input type="text" class="form-control form-control-danger" id="passwordConfirmationInput"
               placeholder="Confirm Password" maxlength="100" formControlName="passwordConfirmation"/>
        <div *ngIf="passwordConfirmation.hasError('required') && passwordConfirmation.touched"
             class="form-control-feedback">
            Требуется подтверждение пароля
        </div>
        <div *ngIf="userForm.hasError('unmatched') && passwordConfirmation.touched"
             class="form-control-feedback">
            Введённые пароли не совпадают
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary">Зарегистрироваться</button>

</form>