<div class="row">
    <div class="col-md-9" [mptStyles]="[styles.aside]">
            <div [ngSwitch]="pageType">
                <div *ngSwitchCase="'Goods'">
                    <mpt-goods [userId]="'me'"></mpt-goods>
                </div>
                <div *ngSwitchCase="'Account'">
                    <mpt-account></mpt-account>
                </div>
                <div *ngSwitchDefault>
                    <mpt-account></mpt-account>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <mpt-sidebar [userId]="'me'" [pageType]="pageType" (onPageTypeChange)="pageTypeChanged($event)"></mpt-sidebar>
    </div>
</div>
