<div class="row">
    <div class="col-md-9 sidebar">
            <div [ngSwitch]="pageType">
                <div *ngSwitchCase="'Goods'">
                    <mpt-goods [user]="user"></mpt-goods>
                </div>
                <div *ngSwitchCase="'Account'">
                    <mpt-account [user]="user"></mpt-account>
                </div>
                <div *ngSwitchDefault>
                    <mpt-account [user]="user"></mpt-account>
                </div>
            </div>
    </div>
    <div class="col-md-3">
        <mpt-sidebar [user]="user" [pageType]="pageType" (onPageTypeChange)="pageTypeChanged($event)"></mpt-sidebar>
    </div>
</div>
