<div>
    <h2>Правила пользования сайтом</h2>
    <div>
        <h3>Маркетинговая информация</h3>
        <p>
            На нашем сайте запрещено указание сопутствующей рекламной информации в описании объявлений, в том числе
            НЕЛЬЗЯ:</p>
        <ul>
            <li><p>Указывать общую рекламную информацию о компании. Например, “Фирма N работает на отечественном рынке
                более 10 лет и входит в 100 лучших производителей...”. “Наш офис находится рядом с торговым центром Z.
                Приходите, мы работаем с 9 до 19 без перерывов и выходных”.</p></li>
            <li><p>Рассказывать о деятельности компании в целом. Например, “Осуществляем продажу и поставку мебели как
                для городских квартир и частных домов, так и для гостиниц и пансионатов”.</p></li>
            <li><p>Размещать общую рекламную информацию об ассортименте товаров и услуг компании-производителя,
                магазина, компании-продавца. Например, “Предлагаем широкий выбор товаров для сада, огорода, ландшафтного
                дизайна. В наличии имеются декоративные фигурки, фонари, фонтаны различных форм и размеров по приемлемым
                ценам”.</p></li>
            <li><p>Предложение участия в лотереях, акциях, розыгрышах при покупке товара.</p></li>
            <li><p>Упоминание разновидностей покупки: выкуплю, возьму на реализацию, на комиссию и пр.</p></li>
        </ul>
        <p> Следующую сопутствующую информацию МОЖНО указывать в описании объявления:</p>
        <p>Условия приобретения:</p>
        <ul>
            <li><p>Доставка (как бесплатная, так и платная).</p></li>
            <li><p>Подарок или скидка, предоставляемые при покупке основного товара, должны быть четко определены.
                Например: “При аренде ноутбука Asus мышка Genius в подарок”. “Скидка студентам 10 % до 31 января”.
                ! ОДНАКО запрещено указание общих фраз “летние цены”, “цена снижена”, “первым 10 покупателям скидки” -
                они не являются конкретным предложением.</p></li>
            <li><p>Гарантия на предлагаемый товар.</p></li>
            <li><p>Установка, монтаж приобретенного/арендованного товара.</p></li>
            <li><p>Предоставление отчетных документов по сделке.</p></li>
            <li><p>Возможность тест-драйв товара, условия примерки/показа.</p></li>
        </ul>
    </div>
    <div>
        <h3>Руководство пользователя</h3>
        <ol>
            <li>Вы находитесь на главной странице системы reLease, платформы для предоставления аренды различных
                товаров. Проверьте, зарегистрированы ли Вы в системе. В противном случае перейдите к пункту 3.
            </li>
            <li>Если Вы зарегистрированы, но не авторизованы, перейдите к пункту 4. Если Вы авторизированы, то выберите
                нужное Вам действие:
                <ul>
                    <li>Просмотреть страницу товара – пункт 5</li>
                    <li>Совершить поиск – пункт 6</li>
                    <li>Добавить отзыв на товар – пункт 7</li>
                    <li>Удалить отзыв на товар – пункт 8</li>
                    <li>Подать запрос на заключение сделки: пункт 9</li>
                    <li>Подать запрос на прекращение сделки: пункт 10</li>
                </ul>
                <p>Чтобы выполнить следующие действия, Вы должны зайти в личный кабинет. На главной странице системы
                    наведите на своё имя и нажмите кнопку “Личный кабинет”.</p>
                <ul>
                    <li>Изменить личные данные – пункт 11</li>
                    <li>Отправить сообщение – пункт 12</li>
                    <li>Прочитать сообщение – пункт 13</li>
                    <li>Добавить товар – пункт 14</li>
                    <li>Удалить товар – пункт 15</li>
                </ul>
            </li>
            <li>Чтобы зарегистрироваться, Вам нужно нажать кнопку “Sign up” на главной странице системы.

                В открывшейся форме необходимо ввести ваш логин, e-mail, и пароль с его подтверждением. После нажатия
                кнопки “Submit” вы получите при успешной регистрации уведомление об этом. В случае наличия каких-либо
                ошибок, вы получите об этом уведомление в форме.
                Вернитесь к пункту 1.
            </li>
            <li>Чтобы авторизоваться, Вам нужно нажать на ссылку “Sign in” в меню на главной странице системы. В
                открывшейся форме необходимо ввести ваш логин и пароль и нажать кнопку “Sign In”.

                Вы находитесь на странице товаров.
            </li>
            <li>В открывшемся списке товаров Вы можете нажать на аватарку любого товара или нажать на кнопку
                «Просмотреть товар». После этого система перенаправит Вас на страницу товара.
            </li>
            <li>Чтобы совершить поиск, наберите в поисковой строке наименование искомого товара. Вы можете сузить
                диапазон поиска, выбрав категорию и тип товара, в которой вы ведёте поиск необходимого товара. При
                успешном нахождении хотя бы одного товара, он выведется в ленту товаров и вы сможете перейти к пункту
                пять для просмотра его страницы. В случае, если поиск оказался неуспешен, в ленте товаров появится
                уведомление – «There is no such a product»
            </li>
            <li>Чтобы оставить отзыв на товар, Вам необходимо перейти на страницу товара (пункт 5), для которого Вы
                хотите оставить отзыв. Под описанием товара Вы найдёте список с отзывами. Если вы заключали сделку на
                этот товар, то слева вы увидите вкладку «My reviews». Нажмите на неё. Вам откроется форма с заголовком
                отзыва, текстом отзыва и рейтингом, который Вы должны оставить товару. Заполнив форму и нажав кнопку
                «Publish», вы отправляете ваш отзыв на модерацию и тот, в случае успешной модерации, публикуется на
                странице данного товара.
                <b>Внимание! Использование нецензурной лексики запрещены.</b></li>
            <li>Чтобы удалить отзыв, Вам необходимо перейти на страницу товара (пункт 5), где этот отзыв был оставлен.
                Под описанием товара найдите Ваш отзыв и нажмите на кнопку с изображением корзины, расположенную рядом с
                вашим отзывом. Удалить отзыв можно также, перейдя на вкладку «My reviews» и нажав знак удаления, либо в
                личном кабинете перейти в раздел «Reviews», найти отзыв для данного товара и нажать «Delete»
            </li>
            <li>Чтобы отправить заявку на заключение сделки, надо перейти на страницу товара (пункт 5), который вы
                хотите арендовать. Если у вас есть необходимые данные для аренды товара в профиле, то под аватаркой
                товара вы увидите кнопку «Rent». Нажав её, вы получите уведомление, что ваша заявка отправлена
                владельцу. В личном кабинете в разделе «Deals» вы сможете увидеть данную сделку со статусом «Waiting for
                confirmation»
            </li>
            <li>Чтобы отправить запрос на завершение сделки, надо перейти на страницу товара (пункт 5), для которого вы
                хотите подать запрос. Если вы в данный момент арендуете данный товар, то вместо кнопки «Rent» из пункта
                8, у вас появится кнопка «Stop renting». Нажав её, система выведет уведомление с подтверждением вашего
                действия.
                <b>Будьте внимательны! Если прекращение сделки в данный момент не является своевременным, то система
                    уведомит вас об этом перед подтверждением действия</b></li>
            <li>Чтобы изменить данные, вам нужно перейти в личный кабинет и нажать кнопку «Edit account». Вам откроется
                форма с вашими параметрами, где будут вписаны старые значения вашего профиля. Вы можете поменять данные
                значения на те, что Вы считаете нужными, и нажать кнопку «Save».
            </li>
            <li>Чтобы написать сообщение, перейдите на страницу пользователя и нажмите кнопку «Send message». Вы
                перенаправитесь на страницу диалога с данным пользователем и сможете написать ему сообщения. Дальнейшие
                сообщения с данным пользователем возможны через личный кабинет из раздела «Messages».
                <b>Внимание: Вы не можете отправить пользователю сообщение через раздел Messages, если ветка диалога ещё
                    не была инициирована!</b></li>
            <li>Чтобы прочитать сообщение, перейдите в личном кабинете во вкладку «Messages». Если у вас есть
                непрочитанные сообщения, то вы увидите отображённое количество непрочитанных сообщений на ссылке
                раздела, а также на вкладке с пользователем, от которого у вас есть непрочитанные сообщения. Нажав на
                вкладку с пользователем, вы попадаете в ветку диалога с ним и сможете увидеть полный текст сообщения.
            </li>
            <li>Чтобы добавить товар, перейдите в личный кабинет во вкладку «Products». Вверху раздела вы увидите кнопку
                «Add product». Нажав на неё, вы попадёте на форму для заполнения данных о добавляемом товаре. После
                добавления всех необходимых данных, вы нажимаете на кнопку «Publish». После этого вы перенаправляетесь
                на страницу товаров, где можете увидеть, что ваш товар находится со статусом «Waiting for confirmation».
            </li>
            <li>Чтобы удалить товар, перейдите в личный кабинет во вкладку «Products». Найдите товар, который вы хотите
                удалить и нажмите на кнопку «Delete». После запроса на подтверждение от системы, система уведомит вас,
                что товар был удален и перенаправит на страницу раздела.
            </li>
        </ol>
    </div>
</div>