<div id="policy" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Политика ответственности</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" [mptStyles]="[styles.scrollable]">
                <p>Нарушение правил, а также поступление многочисленных жалоб пользователей на объявления могут привести
                    к блокировке как объявлений, так и учетных записей их владельцев.</p>

                <p>Общие правила</p>
                <ul>
                    <li>Не подавайте одно и то же объявление (о предложении одного и того же товара или услуги)
                        повторно, в том числе в разных городах и категориях.
                    </li>
                    <li>Повторной подачей объявления также считается снятие объявления с публикации и/или его удаление,
                        в том числе до истечения срока действия, а затем размещение нового объявления о том же товаре.
                    </li>
                    <li>Но если вы продали/cсдали в аренду товар или ваше предложение более не актуально, то обязательно
                        снимайте объявление с публикации сразу после совершения сделки.
                    </li>
                    <li>Вы можете иметь только одну учётную запись — не регистрируйтесь повторно на другой e-mail.</li>
                    <li>Не предлагайте запрещенные товары.</li>
                    <li>Размещайте объявления только о существующих предложениях.</li>
                    <li>Подавайте объявления только о конкретных товарах или услугах — подача объявлений общего
                        рекламного характера или без конкретного предложения недопустима. Также запрещена продажа/сдача
                        в аренду товаров через аукцион, реклама проведения аукционов.
                    </li>
                    <li>Запрещено размещение объявлений, содержащих рекламную информацию, а также объявлений о рекламе:
                        <ul>
                            <li>интернет-ресурсов (порталы, форумы, сайты знакомств и т.д.);</li>
                            <li>бизнеса (магазинов, компаний) и перечисление ассортимента товаров, услуг и цен.
                                Например, "Наш магазин работает с 10 до 22 без выходных".
                            </li>
                        </ul>
                    </li>
                    <li>Выбирайте для объявления наиболее подходящую категорию и регион (город или населенный пункт, в
                        котором находится Товар), указывайте достоверные параметры объявления. Вся информация в
                        объявлении должна соответствовать действительности.
                    </li>
                    <li>Размещайте объявления только о продаже/предложении товаров. Не подавайте объявления:
                        <ul>
                            <li>о покупке/аренде;</li>
                            <li>о находке или потере (вещей, животных и т.д.);</li>
                            <li>о получении материальной помощи (сбор средств на лечение и т.д.).</li>
                        </ul>
                    </li>
                    <li>Недопустимо размещение объявлений о сомнительных способах получения дохода, в том числе в сети
                        интернет. Например, "Переведите 10 рублей на электронный кошелек и заработаете гораздо больше".
                    </li>
                    <li>Недопустимо наличие в объявлении (заголовок, текст, фотографии, превью видео) или имени
                        пользователя эротического, порнографического, нецензурного, экстремистского или иного
                        содержания.
                    </li>
                    <li>Запрещено несанкционированное/необоснованное использование в объявлении или в имени пользователя
                        логотипов и товарных знаков известных брендов. Не добавляйте логотипы и названия компаний и
                        организаций.
                    </li>
                    <li>Не используйте программы для подачи и автозагрузки объявлений.</li>
                </ul>

                <p>Данные контактного лица</p>
                <ul>
                    <li>Имя, указанное в объявлении, должно соответствовать действительности.</li>
                    <li>Поле “Имя” не должно содержать какой-либо контактной информации, включая адреса сайтов,
                        телефоны, но не ограничиваясь ими.
                    </li>
                    <li>Не указывайте номер телефона, электронный адрес или другие контактные данные третьего лица.</li>
                </ul>

                <p>Название объявления</p>
                <ul>
                    <li>В названии объявления должно быть только название товара (или услуги) и/или его модель и важные
                        параметры, всё остальное указывайте в описании. Название должно соответствовать описанию.
                    </li>
                    <li>Пишите название объявления на русском языке — написание русских слов латинскими буквами
                        (транслит) недопустимо. Запрещено необоснованное использование заглавных букв, специальных
                        символов, иностранного языка.
                    </li>
                    <li>Не указывайте какую-либо контактную информацию, за исключением случаев, когда указание
                        контактной информации обязательно в силу закона. В понятие контактной информации мы включаем:
                        номер телефона, физический/юридический/электронный адрес (e-mail), адрес и название сайта
                        (ссылки), ICQ, skype, но не ограничиваемся ими.
                    </li>
                    <li>Запрещено необоснованное использование слов, привлекающих внимание, таких как "Срочно" и
                        "Внимание" в заголовке.
                    </li>
                </ul>
                <p>Описание объявления</p>
                <ul>
                    <li>Описание должно быть на русском языке, не используйте иностранные языки и транслит — написание
                        русских слов латинскими буквами. Необоснованное использование в описании объявления заглавных
                        букв и специальных символов также недопустимо.
                    </li>
                    <li>Описывайте именно тот товар или услугу, о котором речь идет в названии объявления и который
                        изображен на фотографиях.
                    </li>
                    <li>Описание объявления должно представлять только конкретный товар, который предлагается, но не
                        рекламировать деятельность компании или другие товары и услуги, предоставляемые ею. В описании
                        объявления допустимо указание условий и вариантов приобретения и доставки товара, предлагаемого
                        в объявлении. Содержание сопутствующего предложения должно быть четко описано. Ознакомьтесь с
                        допустимыми товарами и услугами.
                    </li>
                    <li>Запрещено указание в описании ключевых слов для облегчения поиска объявлений продавца,
                        перечисление нескольких товаров, размещение прайс-листов (названия и цены других похожих
                        товаров).
                    </li>
                    <li>Недопустимо присутствие контактной информации любого рода в описании объявления, (включая
                        ссылки, номера телефонов, ICQ, но не ограничиваясь ими), за исключением случаев, когда указание
                        контактной информации обязательно в силу закона.
                    </li>
                </ul>
                <p>Фото в объявлении</p>
                <ul>
                    <li>Фотография должна соответствовать заголовку и описанию объявления.</li>
                    <li>Не допускается использование на фотографиях водяных знаков (вотермарок, водяных меток).</li>
                    <li>Недопустимо наличие логотипов компаний и названий организаций.</li>
                    <li>Не добавляйте фото, привлекающие внимание к объявлению с помощью:</li>
                </ul>
                <ul>
                    <li>мотивирующих слов, таких как "Срочно", "Внимание", "Акция", "Распродажа" и т.п.;</li>
                    <li>изображений, обработанных в специальных редакторах (например, помещенных в цветную рамку, с
                        заливкой фона, с размещением текста поверх изображения товара и пр.).
                    </li>
                    <li>Запрещено наличие на фото любой контактной информации (телефоны, адреса, ссылки и названия
                        сайтов, ICQ и т.д.).
                    </li>
                </ul>

                <p>Цена</p>
                <ul>
                    <li>Цена должна указываться в рублях.
                    <li>Указывайте только ту цену, по которой предлагаете товар или услугу.
                    <li>Если стоимость предложения снижена по какой-либо причине (плохое состояние, есть дефекты, товар
                        испорчен или поломан) указывайте это в описании объявления.
                    <li>Не пишите цену в названии объявления — для этого есть отдельное поле.</li>
                </ul>

                <p>Площадка оставляет за собой право на дополнение и обновление существующих правил.</p>
            </div>

            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>