<div>
    <h2>re:Lease - что такое?</h2>
    <div>
        <p>
        Сервис re:Lease был создан в 2017 году для организации веб-площадки по аренде товаров.
        Существует много площадок, предоставляющих возможность заключить сделку по покупке товаров, однако организовать
        операцию аренды какой-либо вещи порой представляет трудность, так как всё ограничивается площадками в группах
            социальных сетей и объявлениями.</p>

        <p>Наш сервис предлагает вам услуги посредника между владельцем и арендатором товара, предоставляя обеим сторонам
        гарантии. Удобный поиск и процесс заключения сделки позволит арендаторам быстро найти и получить товар, а
        комфортный интерфейс со стороны владельца позволит тому адекватно выбрать кандидата на предоставление аренды
            своего товара.</p>
    </div>
</div>