<div>
    <div *ngIf="products.length == 0">
        <p>В системе пока нет никаких товаров.</p>
    </div>
    <div *ngIf="products.length != 0">
        <div *ngFor="let product of products; let i = index">
            <div class="card">
                <h3 class="card-header">{{product.title}}</h3>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-9">
                    <h4 class="card-title">Описание товара</h4>
                    <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="col-md-3">
                    <button (click)="lookAtProduct(product.id)" class="btn btn-primary">Перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-info" (click)="prevPage()" *ngIf="currentPage > 1">Назад</button>
        <button class="btn btn-info" (click)="nextPage()" *ngIf="currentPage < totalPages">Вперед</button>
    </div>
</div>